
/*  */


.chat-box{
    /* border: 1px solid red; */

    width: 100%;
    bottom: 10%;
    position: absolute;
    /* max-height: 400px; */
    height: auto;
    max-height: 93%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    scroll-behavior: smooth;
  }
  .message-container{
    margin: 0.7rem 0;
    font-family: 'Como';
    /* border: 1px solid red; */
  }

  /* .messege-sent-info{
    display: flex;

    margin: 0;
    padding: 0;
    align-items: center;
    gap: 1rem;
    font-style: normal;
  } */
  .messege-sent-info-sender{
    padding: 0.5rem;
    color: rgba(127,127,128,255);
    font-weight: 700;
    font-size: small;
    margin: 0;
    padding: 0;
  }
  .messege-sent-info-time{
    color: rgba(183,146,44,255);
    margin: 0;
    padding: 0;
    font-weight: 600;
    /* border: 1px solid wheat; */
    
  }
  
  .messege-main-body{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* border: 1px solid yellow; */
  }


  .message.you + .sender{
    text-align: right;
  }
  
  .message-body{
    max-width: 70%;
    align-items: center;
    gap: 1rem;
    background-color: rgba(40,41,45,255);
    border-radius: 10px;
  }

.sent-status{
  color: var(--yellow-primary)
}

.message-container:not(.you) .sent-status{
  display: none;
}
  
 .message-container.you .messege-main-body
 {
    flex-direction: row-reverse;
  }
  .message-container.you .messege-delivery-info{
    flex-direction: row-reverse;
    /* padding-right: 1.5rem; */
  }
  .message-container.you  .messege-sent-info-sender{
    text-align: right;
    padding-right: 0.5rem ;
  }
  .message-container.you .message-body{
    background-color: rgba(46,44,37,255);
  }
  
  .message-container.you.failed .message-body{
    background-color: rgba(39, 6, 6, 1);
  }
  .message-container.you.failed .sent-status,
  .message-container.you.failed .messege-sent-info-time{
    color: #c62828;
  }
  .message-container.you.failed .sent-status{
    cursor: pointer;
  }

  /* .message p{
    margin: 0;
    font-family: 'Como';
    font-style: normal;
    font-weight: 600;
  } */

  .message-body-text{
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    /* max-width: 70%; */
    /* min-width: 50%; */
    color: #ccc;
    margin: 0;
    font-weight: 520;
    /* border: 1px solid red; */
  } 
  
.messege-delivery-info{
  /* max-width: 50%; */
  display: flex;
  /* gap: 0.5rem; */
  /* border: 1px solid white; */
  overflow: hidden;
  flex-wrap: wrap;
}

.messege-delivery-info-name{
  padding: 0.5rem;
  color: rgba(127,127,128,255);
  font-size: small;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: auto;
  /* border: 1px solid yellow; */
  padding: 0.1rem 0.2rem;
}
  /* For WebKit-based browsers */
  .chat-box::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
  
  .chat-box::-webkit-scrollbar-thumb {
    /* background-color: rgba(255,200,48,0.3); */
    
    border-radius: 5px;
    display: none;
  }
  
  .chat-box::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,200,48,0.8);
    display: none;
  }
  
  /* For Firefox */
  .chat-box {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,200,48,0.8) transparent;
  }
  
  
  
  
  /* For Edge and IE */
  /* Unfortunately, Edge and IE do not support scrollbar customization via CSS */
  
  emoji-picker{
    /* --background: rgba(22,23,25,255); */
    /* --border-color: rgba(22,23,25,255); */
  }
  
  .emoji-box{
    position: absolute;
    bottom: 10%;
    right: 1%;
  }
  
  .hidden.hidden{
    display: none;
  }
  
  .message-send-box{
    position: absolute;
    display: flex;
    /* padding: 0.2rem 0; */
    border-radius: 10px;
    align-items: center;
    bottom: 0;
    /* height: 7%; */
    background-color: rgba(40,41,45,255);
    backdrop-filter: blur(8px);
    width: 100%;
    z-index: 2;
    gap: 1rem;
    padding: 1rem 2rem;
  
  }
  
  .message-send-box  input[type= "text"]{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    flex-grow: 1;
    height: 70%;
    font-family: 'Como';
    font-style: normal;
    font-weight: 600;
    font-size: large;
    text-align: center;
    color: #ccc;
  }
  .message-send-box button{
    font-size: x-large;
    background: none;
    border: none;
    outline: none;
    color: #ccc;
    cursor: pointer;
  }
  .chat-box-info{
    font-family: 'Como';
    color: var(--yellow-primary);
    /* border: 1px solid red; */
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-style: italic;
    padding: 1rem;
  }


