.media-error-indicator{
    /* border: 1px solid red; */
    width: 9rem;
    height: 1.5rem;
    display: flex;
    position: relative;
}

.media-error-indicator-grid{
    border: 1px solid  var(--yellow-primary);
    background-color: rgba(33,34,36,255);
    width: 3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3rem;
    z-index: 2;
    /* border-radius: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.media-error-indicator-grid span{
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    /* border: 1px solid red; */
}
.media-error-indicator-slider{
    z-index: 3;
    position: absolute;
    width: 3rem;
    /* border: 1px solid  rgba(240, 128, 128); */
    background-color: rgba(240, 128, 128, 0.3);;
    top: 0;
    bottom: 0;
    left: 6rem;
    /* border-radius: 5px; */
}

.media-error-indicator-out-of-bound *{ 
    /* color: var(--warning-icon); */
}