
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgba(22,23,25,255);
  }
  .left{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
  }
  .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid yellow; */
    width: 100%;
    height: 100vh;
  }

  @media (min-width: 1000px){
    body{
      flex-direction: row;
      gap: 2rem;
    }
    .left{
      width: 60%;
    }
    .right{
      width: 30%;
    }
    .error-box{
      width: 30%;
    }
  }

  @media (max-width: 900px){
    .tabs{
      align-items: space-between;
    }
    .tab-input:checked + .tab-label{
      width: 100%;
      order: 1;
    }
    .error-box{
      width: 70%;
    }
  }


  /* Video Ttile */
.video-title{
    background-color: rgba(33,34,36,255);
    padding: 0 2%;
    margin: 2% 0;
    border-radius: 15px;
    color: rgba(252,252,252,255);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.video-title h3{
  font-family: 'Como';
  font-weight: 700;
  font-style: normal;
  color: #aaa;
  letter-spacing: .1em;
  flex-grow: 1;
  max-width: 95%;
  /* border: 1px solid red; */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video-title button{
  color: #ccc;
  background: none;
  border: none;
  outline: none;
  font-family: 'Como';
  font-size: x-large;
}

.video-title.connected-title button .fa-spin{
  display: inline-block;
  color: var(--yellow-primary);
  font-size: xx-large;
}
.video-title.connected-title button :not(.fa-spin){
  display: none;
}

.video-title:not(.connected-title) .fa-spin{
  display: none;
}


/* Headding */
.headding-milkyway{
    display: flex;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0;
}

.headding-milkyway  a{
  margin: 0;
  color: #666;
  cursor: pointer;
  font-family: 'Como';
  font-weight: bold;
  letter-spacing: 0.2rem;
  /* text-align: center; */
  text-decoration: none;
  transition: color 150ms ease-in-out;
}
.headding-milkyway  a:hover{
  color: #aaa;
  transition: color 50ms ease-in-out;
}

.headding-milkyway img{
  animation: rotate-rev 10s infinite linear;
}

@keyframes rotate-rev {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.headding-milkyway h1{
    font-family: Megrim;
    color: #ccc;
    font-style: normal;
    letter-spacing: .2em;
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
}
.headding-milkyway button{
  padding: .7rem 1.4rem;
  border-radius: 7px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Como';
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
}
.headding-milkyway .donate-btn{
  margin-left: auto;
  background-color: rgba(22,23,25,255);
  border: 2px solid #aaa;
  color: white;
}
.headding-milkyway .about-btn{
  background-color: rgba(255,200,48,255);
  color: black;
}

.ease-btn{
  opacity: 80%;
  transition: opacity 120ms ease-in-out;
}
.ease-btn:hover{
  opacity: 100%;
  transition: opacity 120ms ease-in-out;
}

.error-box-container{
  /* height: 100%; */
  /* width: 100%; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 150;
  background-color: rgba(0,0,0,0.4);
}
.error-box{
  /* border: 2px solid red; */
  height: 40%;
  /* width: 30%; */
  /* border:4px solid  #e85e6c; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-family: 'Como';
  overflow: hidden;
  color: rgba(255,200,48,1);
}

.error-top{
  height: 35%;
  /* background-color: #e85e6c; */
  background-color: rgba(22,23,25,255);  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
}
.error-bottom *{
  margin: 0;
}

.error-bottom{
  flex-grow: 1;
  /* background-color: #eee;*/
  background-color: rgba(46,44,37,1);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.error-bottom h1{
  font-size: 40px;
  font-weight: 1200;
}
.error-bottom p {
  font-weight: bold;
  font-size: large;
}

.error-bottom button{
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(255,200,48,1);
  cursor: pointer;
  font-size: xx-large;
}

.display-none{
  display: none !important;
}