* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(50,50,50);
  padding-top: 45px;
}
.box{
  background-color: transparent;
  width: 49.73%;
  height: 47vh;
  display: inline-block;
  overflow: hidden;
  margin: 0 0;
  padding: 0 0;
}

@media screen and (orientation: portrait) {
  .box {
    width: 100%;
  }
  
  .popupdiv{
    min-width: 100%;
    left: 0;
    top: 0;
  }
  .notificationpopup{
    min-width: 85%;
  }
  .alert-box{
    min-width: 85%;
  }
  .box-4 .connectionSettings{
    min-width: 100%;
  }

}

@media screen and (orientation: landscape) {
  .box {
    width: 49.73%;
  }
}

.box-element{
  background-color: #222;
  border-radius: 20px ;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


/*end box*/


.btn-hover-fx{
  opacity: 0.7;
  transition: opacity .6s ease;
}

.btn-hover-fx:hover{
  opacity: 1;
  transition: opacity .1s ease;
}

.popupdiv {
  position: fixed;
  border-radius: 20px;
  top: 5%;
  right: 2%;
  width: 46vw;
  max-width: 100%;
  height: 92%;
  color: #aaa;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
  overflow: hidden;
}

.popupdiv .popuptop{
  margin-top: 2%;
  margin-bottom: 2%;
}

.popupdiv .popuptop button{
  background-color: #ccc;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  border: 2px solid #111;
}
.popupdiv .popupcontent{
  height: 90%;
  width: 95%;
  margin: 0 auto;
}

.hiddenpopup{
  display: none;
}

.popupdiv .hidden{
  display: none;
  transition: display 1s ease;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupdiv table {
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
}
.popupdiv thead th{
  position: sticky;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  top: 0;
}
.popupdiv th, td {
  padding: 8px;
  text-align: center;
}
.popupdiv td{
  border-bottom: 1px solid #888;

}
.popupdiv th {
  background-color: transparent;
  font-weight: bold;
}
    
.popupdiv tr:nth-child(even) {
/*  background-color: #333;*/
}

.popupdiv tr:hover {
  background-color: transparent;
}

.popupdiv .table-container {
  width: 100%;
  height: 95%;
  overflow-y: auto;
}

.notificationpopup{
  position: fixed;
  border-radius: 20px;
  bottom: 5%;
  right: 2%;
  
  width: 25%;
  height: 20%;
  
  color: #aaa;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
  overflow: hidden;
  
}
.notificationpopup p{
  text-align: center;
}
.notification{
  height: 80%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.notificationpopup button{
  margin-top: 2%;
  margin-left: 2%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #aaa;
}
.hide{
  display: none;
} 

.alertcontainer{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .4);
  display: none;
}
.alert-box{

  padding: 1%;
  height:25%;
  width: 25%;
  border-radius: 20px;
  border: 3px solid rgba(255,128,128, 1);
  background-color: rgba(255,128,128, 0.2);
  color: #fff;
  text-align: center;
  overflow: hidden;
  
  display: flex;
/*  min-width: 500px;*/
  flex-direction: column;
}
.alert-box button{
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
}
.alert-content{
  height: 95%;
  width: 90%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

footer{
  color: #aaa;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  font-size: 12px;
transition: font-size .5s ease;
}
footer p{
  margin: 0;
}
footer a{
  color: #ccc;
  font-weight: bold;
  text-decoration: underline;
 
}
footer:hover{
  opacity: 1;
  color: #aaa;
  font-size: 14px;
/*  letter-spacing: 2px;*/
  transition: font-size .5s ease;
}

header{
  position: fixed;
  z-index: 999;
  width: 100%;
  min-height: 45px;
/*  border: 1px solid red;*/
  border-radius: 22px;
  top:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #111;
  color: #aaa;
  overflow: hidden;
  padding-left: 10px;
}
header img{
  animation: rotate-rev 10s infinite linear;
}

@keyframes rotate-rev {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

header p{
  padding-left: 5px;
   font-family: Megrim;
   letter-spacing: 5px;
   font-size: 40px;
   margin: 0;
}
.nav-right-btn{
  margin-right: 10px;
  margin-left:auto;
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-size: 25px;
}
.dropdown-menu{
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #111;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  top: 45px;
  right: 10px;
  height: 100px;
  overflow: hidden;
  transition: height .5s ease;
/*  border: 1px solid red;*/
  justify-content: center;
}

.hide-dropdown{
  height: 0;
  transition: height .5s ease;
}

.dropdown-menu li{
/*  border: 1px solid red;*/
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-top: 5px;
}

.dropdown-menu li:hover{
  font-weight: bold;
  cursor: pointer;
  background-color: #222;
}


header ul {
    list-style-type: none;
}