
.youtube-queue-list-head{
    color: var(--yellow-primary);
    font-family: 'Como';
}
.youtube-queue-list-head-video-cnt{
    font-weight: 900;
    /* margin: 0.5rem 0; */
    margin-left: 1rem;
}
.youtube-queue-list-head-media-buttons{
  color: var(--yellow-primary);
  /* border: 1px solid red; */
}
.youtube-queue-list-head-media-btn{
  color: var(--yellow-primary);
  border: none;
  outline: none;
  background-color: transparent;
  background: transparent;
  font-size: xx-large;
}
.youtube-queue-list{
    font-family: 'Como';
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 50%;
    color: var(--yellow-primary);
    border-radius: 15px;
    /* border: 5px dashed var(--yellow-background); */
    padding: 0.5rem;
    background-color: rgba(40,41,45,255);
}

.youtube-queue-list::-webkit-scrollbar {
    width: 10px;
  }
  
  .youtube-queue-list::-webkit-scrollbar-thumb {
    /* background-color: rgba(255,200,48,0.3); */
    
    border-radius: 5px;
  }
  
  .youtube-queue-list::-webkit-scrollbar-thumb:hover {
    background-color:  var(--yellow-primary);
  }
  
  /* For Firefox */
  .youtube-queue-list {
    scrollbar-width: thin;
    scrollbar-color: var(--yellow-primary) transparent;
  }

.youtube-queue-item{
    height: 3rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    /* background-color: var(--yellow-background-half); */
    background-color: rgba(33,34,36, 0.4);
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.youtube-queue-item-thumbnail{
    height: 27px;
    width: 48px;
    border-radius: 5px;
}
.youtube-queue-item-title{
    font-weight: 600;
    flex-grow: 1;
    margin: 0 0.5rem;
    white-space: nowrap;         
    overflow: hidden;          
    text-overflow: ellipsis;    
    /* width: 200px; */
}

.youtube-queue-item-btn{
    color: var(--yellow-primary);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: larger;
    cursor: pointer;
    margin: 0.1rem;
    opacity: 0.7;
}

.youtube-queue-currenty-playing{
  background-color: rgba(33,34,36, 1    );
  border: 1px solid var(--yellow-primary-half);
}