.notification-box{
    position: absolute;
    color: white;
    font-family: 'Como';
    padding: 0.5rem;
    width: auto;
    left: -50%;
    bottom: 15%;
    z-index: 103;
    /* border: 1px solid red; */
    transition: left 500ms ease-out;
    /* border: 1px solid red; */
  
  }
  
  .notification-box.show-notification{
    left: 1%;
    transition: left 500ms ease-out;
  }
  
  .notification {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    padding: 1rem;
    margin: 1rem 0;
    gap: 1rem;
    align-items: center;
    align-content: center;
  
  }
  .notification p{
    margin: 0;
  }
  .notification .notification-title{
    font-size: x-large;
    font-weight: 800;
    text-decoration:double;
  }
  
  .notification .notification-duration{
    font-size: large;
  }
  .notification .notification-text{
    font-size: large;
  }
  
  .notification-icon{
    
    font-size: xx-large;
  }

/* default  */
  .notification.default-notification{
    border: 1px solid var(--default-border);
  }
  .notification.default-notification .notification-icon{
    color: var(--default-icon);
  }
  .notification.default-notification .notification-duration{
    color: var(--default-duration);
  }




/* warning  */
.notification.warning-notification{
    border: 1px solid var(--warning-border);
  }
  .notification.warning-notification .notification-icon{
    color: var(--warning-icon);
  }
  .notification.warning-notification .notification-duration{
    color: var(--warning-duration);
  }



  /* join  */
.notification.join-notification{
    border: 1px solid var(--join-border);
  }
  .notification.join-notification .notification-icon{
    color: var(--join-icon);
  }


  .notification.people-disconnected-notification{
    border: 1px solid var(--people-disconnected-icon);
  }
  .notification.people-disconnected-notification .notification-icon{
    color: var( --people-disconnected-icon);
  }


  /* people people-disconnected */

  /* people-people-disconnected-notification */


  .notification.leaveRoom-notification{
    border: 1px solid var(--leave-border);
  }
  .notification.leaveRoom-notification .notification-icon{
    color: var(--leave-icon);
  }