* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-left: 10px;
  overflow-x: hidden;
  background-color: rgb(50,50,50);


}
.box{
  background-color: transparent;
  width: 49.6%;
  display: inline-block;
  overflow: hidden;
  margin: 0 0;
  padding: 0 0;
}
@media (max-aspect-ratio: 1.2/1) {
  .box {
    width: 100%;
  }
}
.box-element{
  background-color: #222;
  border-radius: 20px ;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
