* {
  box-sizing: border-box;
}
 body {
            margin: 0;
            padding: 0;
        }
.row {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 100%;
/*            border: 1px solid red;*/
}
.col {
/*          border: 1px solid red;*/
            height: 100%;
            flex-basis: 50%;
            box-sizing: border-box;
/*            padding: 20px;*/
        }
.infobox {
      display: inline-block;
      width: 100%;
      height: 100%;
     
      padding: 20px;
/*      margin: 20px;*/
      border-radius: 10px;
      background-color: rgb(189,206,223);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
/*      overflow: auto;*/
/*      min-width: 384px;*/
/*      overflow: hidden;*/
      height: 95%;
      width:95%;
      margin-top: 1%;
      margin-left: 4%;
      /*margin: 2% 2%; margin-left:3%; margin-right:0;*/
    }

    .info {
      width: 100%;
      height: auto;
      background-color: rgb(135,206,235);
      margin:0 auto;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 5px;

    }
    h2{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: rgba(0,0,0,0.7);
      margin-bottom: 0;
      margin-top: 10px;

    }
    .info p {
      margin: 0;
      padding: 0;
    }

    .info .name {
      font-weight: bold;
      display: inline-block;
    }

    .info .time {
      display: inline-block;
      margin-left: 10px;
/*      font-style: italic;*/
      font-size: 15px;
      color: #333;
    }

    .info .message {
      margin-top: 5px;
/*      font-style: italic;*/
      font-size: 20px;
      color: #333;
    }

    .info.me {
      background-color: rgb(221,160,221);
      text-align: right;
/*      color: #fff;*/
    }

    .info.meEvent {
      background-color: rgb(105,186,205);
      text-align: right;
/*      background-color: white;*/
/*      color: #fff;*/
    }
    .info.meChat {
    background-color: rgb(201,140,201);
    text-align: right;
/*      background-color: black;*/
    /*      color: #fff;*/
    }
  
/*  */
/*  */
.compact-form {
 background-color: rgb(189,206,223);
  display: inline-block;
  flex-direction: column;
/*  gap: 10px;*/
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  
/*  min-width: 384px;*/
  border-radius: 8px;
/*  border: 2px solid lightgray;*/
  padding: 1%; 
  overflow: auto;
  height: 95%;
  width:95%;
  margin-top: 2%;
  margin-left: 1%;
  /*margin: 2% 2%; margin-left:3%; margin-right:0;*/
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 1%;
  margin-top: 1%;
}

.form-group input[type = "text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sources {
  margin-top: 2%;
}

.sources label {
  margin-right: 2%;
}

.sources div {
  display: flex;
  align-items: center;
  margin-top: 1%;
}

.sources div input[type="radio"] {
  margin-right: 1%;
}

.sources div label {
  cursor: pointer;
  color: #555;
}
.compact-form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width:120px;
/*  margin: 1% 2%;*/
  margin-top: 1%;
}

.compact-form button:hover {
  background-color: #3e8e41;
}
.sources div label:hover {
  text-decoration: underline;
}
/**/
/*  */
.video-container {
   background-color: black;
   border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
/*  width: 560px;*/
  height: 95%;
  width:95%;
  margin-top: 2%;
  margin-left: 4%;
/*  border: 2px solid red;*/
/*  max-width: 640px; /* adjust as needed */
/*  margin: 0 auto;*/
/*  margin-left: 10%;*/
/*  padding-bottom: 28.125%; /* 16:9 aspect ratio */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
/*  border-radius: 10px;*/
  height: 89%;
  width:100%;
/*  margin-top: 2%;*/
/*  margin-left: 1%;*/
  /*margin: 2% 2%; margin-left:3%; margin-right:0;*/
}

@media (max-width: 768px) {
  .video-container {
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
  }
}


.connectionBox{
  overflow: auto;
  display: inline-block;
  width: 100%;
  height: 100%;
 background-color: rgb(189,206,223);
/*      padding: 20px;*/
/*      margin: 20px;*/
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: auto;
  min-width: 384px;
  overflow-y: auto;
  height: 95%;
  width:95%;
  margin-top: 1%;
  margin-left: 1%;
  /*margin: 2% 2%; margin-left:3%; margin-right:0;*/
/*      overflow: hidden;*/
}

.connectionInfo {
  border: 1px dotted gray;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width:95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
}

.connectionName {
  padding-left: 5%;
  font-weight: bold;
}
.connectionActivity {
  flex-grow: 1;
  text-align: center;
  font-size: 14px;
  color: #333;
}
.connectionTime {
  padding-right: 5%;
  color: #333;
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
}

/* Style the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

/* Style the scrollbar corner */
::-webkit-scrollbar-corner {
    background: #f1f1f1;
}
.bottom{
display: none; flex-direction: row; align-items: center; justify-content: space-between;
 height: 11%;
 width: 100%;
 padding-bottom:2%;
/* margin: 0 auto;*/
/*  margin-left: 1%;*/
  background-color: black;
}
.bottom button, .bottom input{
  height: 100%;
  border-radius: 5px;
/*  margin:2% 0;*/
  border: 1px solid black;
  background-color: gray;
/*  border: none;*/
}
.bottom input{
  flex-grow: 1;
  width: 15%; 
  margin: 0 1%; 
  text-align: center;
}
.bottom button{
  flex-basis: 50%;
/*  margin-left: 1%;*/
}
.bottom button:hover{
  background-color: darkgray;
}

.video-container:hover > .bottom {
  display: flex;
}

.chatBox{
/*  border: 1px solid red;*/
  height: 10%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.chatBox input{
 flex-grow: 1; 
 width: 85.5%;
 padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
}
.chatBox button {
  padding: 1px 2px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width:10%;
  height: 100%;
}

.chatBox button:hover {
  background-color: #3e8e41;
}

.subtitle_box {
      display: none;
      background-color: rgba(255, 255, 255, .8);
      padding: 20px;
      position: fixed;
      top: 0%;
      right: 0;
/*      border: 1px solid red;*/
      height: 50vh;
      width: 50vw;
      z-index: 9999;
      text-align: center;
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
}

.history_box {
      display: none;
      background-color: rgba(189,206,223,0.7);
      padding: 20px;
      position: fixed;
      top: 50%;
      right: 0;
/*      border: 1px solid red;*/
      height: 50vh;
      width: 50vw;
      z-index: 9999;
      text-align: center;
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      overflow: scroll;
}

.subtitle_button {
      position: fixed;
      top: 10px;
      right: 10px;
      background-color: lightblue;
      padding: 10px;
      cursor: pointer;
      z-index: 9999;
}

  .currentSubtitle {
        font-weight: bold;
        font-size: 24px;
        color: crimson;

  }

  input[type="range"] {

      height: 4px;
      outline: none;
      appearance: none;
      background: rgba(0,0,0,0.3);
    }

    input[type="range"]::-webkit-slider-thumb {
      appearance: none;
      width: 6px;
      height: 15px;
      background-color: black;
/*      border-radius: 50%;*/
      cursor: pointer;
    }
  input[type="file"] {
        color: black;
      }