:root {
    --default-icon: rgba(255,200,48,1);
    --default-border: rgba(255,200,48,0.5);
    --default-duration: rgba(183,146,44,255);
  
    --warning-icon: rgba(204,51,0, 1);
    --warning-border: rgba(204,51,0, 0.5);
    --warning-duration: rgba(234,51,0, 1);

    --join-icon: 	rgba(153,204,51, 1);
    --join-border: 	rgba(153,204,51, 0.5);

    --people-disconnected-icon: rgba(252, 116, 82, 1);
    --people-disconnected-border: rgba(252, 116, 82, 0.5);
    --leave-border: rgba(255,140,0.5);
    --leave-icon: rgba(255,140,1);

    --yellow-primary: rgba(255,200,48, 1);
    --yellow-primary-half: rgba(255,200,48, 0.5);
    --yellow-background: rgba(46,44,37,1);
    --yellow-background-half: rgba(46,44,37, 0.3);

    --youtube-black: rgba(13,14,16, 1);
  }